---
import { initDatabase } from "@src/logic/db/database";
import Navbar from "@src/sections/navbar/Navbar.astro";

interface Props {
  title: string;
}

const accessToken = Astro.cookies.get("access_token")?.value;
const { title } = Astro.props;

const db = await initDatabase();

const userWithAvatar = Astro.locals.account?.id
  ? await db
      .selectFrom("account")
      .innerJoin("asset", "account.avatarAssetId", "asset.id")
      .where("account.id", "=", Astro.locals.account.id)
      .select("asset.url")
      .executeTakeFirstOrThrow()
  : undefined;
---

<!doctype html>
<html lang="en" id="page">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <link href="src/main.css" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="navbar">
      <Navbar />
    </div>
    <div class="mt-2 container">
      <slot />
    </div>
  </body>
</html>
