---
import Text from "@comp/Text.astro";
import { cn } from "@utils/tailwind";
import type { NonNullableProps } from "@utils/types";
import type { HTMLAttributes } from "astro/types";
import { cva } from "class-variance-authority";

const linkVariants = cva(["py-3"], {
	variants: {
		variant: {
			navLink: ["group", "px-5"],
			dropdownLink: ["block", "text-center", "px-5", "hover:bg-background-950"],
		},
	},
});

type LinkVariants = NonNullableProps<typeof linkVariants, "variant">;

interface Props extends HTMLAttributes<"a">, LinkVariants {}

const { variant, class: className, ...restProps } = Astro.props;
---

<a {...restProps} class={cn(linkVariants({ variant }), className)}>
	<Text variant="paragraph" class="group-hover:text-text-400"><slot /></Text>
</a>
