---
import { cn } from "@utils/tailwind";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"nav"> {}

const { class: className, ...restProps } = Astro.props;
---

<nav {...restProps} class={cn('flex font-medium px-3', className)}>
  <slot />
</nav>
