---
import Text from "@comp/Text.astro";
import { cn } from "@utils/tailwind";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {}

const { class: className, ...restProps } = Astro.props;
---
<button {...restProps} class={cn("px-5 group", className)}>
    <Text variant="paragraph" class="group-hover:text-text-400">{<slot />}</Text>
</button>