---
import Card from "@comp/Card.astro";
import Grid from "@comp/Grid.astro";
import Image from "@comp/Image.astro";
import Text from "@comp/Text.astro";
import { getDB } from "@package/database";
import type { HTMLAttributes } from "astro/types";

const db = await getDB();
const locations = await db
	.selectFrom("public.location")
	.innerJoin("public.asset", "public.location.assetId", "public.asset.id")
	.select(["public.location.name", "public.asset.url", "public.location.id"])
	.execute();

interface Props extends HTMLAttributes<"div"> {}
---
<div {...Astro.props}>
	<Text variant="header">Locations</Text>
	<Grid>
		<Card variant="clickable" title="Create Location" class="dark:bg-accent-900 bg-accent-300" x-on:click="$refs.dialogRef.showModal()">
			<Image src="https://stprojectaurodev.blob.core.windows.net/pixelart/d2950.png" alt="Create Location" class="w-[6rem]" />
		</Card>
		{
			locations.map((location) => (
				<Card variant="clickable" title={location.name} href={`/admin/locations/${location.id}`}>
					<Image src={location.url} alt={location.name} class="w-[6rem]" />
				</Card>
			))
		}
	</Grid>
</div>