---
import Section from "@comp/Section.astro";
import Text from "@comp/Text.astro";
---

<Section space="small">
  <Text variant="paragraph">You are currently not playing on any server. Go to profile to select server.</Text>
</Section>
