---
import Button from "@comp/Button.astro";
import Section from "@comp/Section.astro";
import Text from "@comp/Text.astro";
import Form from "@comp/forms/Form.astro";
import FormControl from "@comp/forms/FormControl.astro";
import Input from "@comp/forms/Input.astro";
import Label from "@comp/forms/Label.astro";
import { throwError } from "@package/common";

const server = Astro.locals.server ?? throwError("No server found");
const user = Astro.locals.user ?? throwError("No user found");
---

{
  user.name ? (
    <Section space="small" direction="row">
      <Text variant="header">Hello <span class="dark:text-primary-dark text-primary-light">Player</span></Text>
      <Text variant="paragraph">You are currently playing on <span class="dark:text-primary-dark text-primary-light">{server.name}</span></Text>
    </Section>
  ) : (
    <Form alignment="center">
      <Text variant="header">Lets setup your user</Text>
      <FormControl>
        <Label variant="default" for="nickname">Nickname</Label>
        <Input variant="default" placeholder="Nickname" name="nickname" />
      </FormControl>
      <Button variant="primary" type="submit">Submit</Button>
    </Form> 
  )
}
