---
import { Card, CardContent, CardHeader, CardTitle } from "@comp/shadui/ui/card";
import { initDatabase } from "@src/logic/db/database";
const db = await initDatabase();

const avatars = await db
  .selectFrom("asset")
  .selectAll()
  .where("type", "=", "avatar")
  .execute();

const userWithAvatar = Astro.locals.account?.id
  ? await db
      .selectFrom("account")
      .innerJoin("asset", "account.avatarAssetId", "asset.id")
      .where("account.id", "=", Astro.locals.account.id)
      .selectAll("asset")
      .executeTakeFirstOrThrow()
  : undefined;

export const partial = true;
---

<div
  class="grid grid-cols-[repeat(auto-fill,minmax(8rem,1fr))] gap-5 max-w-full justify-stretch justify-items-center"
  id="avatars"
>
  {
    avatars.map((avatar) => (
      <Card
        className={
          "w-[8rem] " +
          (avatar.id === userWithAvatar?.id
            ? "border-4 border-primary"
            : "cursor-pointer")
        }
        hx-post={`/api/avatars/${avatar.id}`}
        hx-swap="outerHTML"
        hx-target="#avatars"
      >
        <CardHeader>
          <CardTitle className="text-nowrap overflow-hidden overflow-ellipsis">
            {avatar.name}
          </CardTitle>
        </CardHeader>
        <CardContent className="grid justify-items-center">
          <img src={avatar.url} alt={avatar.name} />
        </CardContent>
      </Card>
    ))
  }
</div>
