---
import { initDatabase } from "@src/logic/db/database";
const db = await initDatabase();

const avatars = await db
  .selectFrom("asset")
  .selectAll()
  .where("type", "=", "avatar")
  .execute();

const userWithAvatar = Astro.locals.account?.id
  ? await db
      .selectFrom("account")
      .innerJoin("asset", "account.avatarAssetId", "asset.id")
      .where("account.id", "=", Astro.locals.account.id)
      .selectAll("asset")
      .executeTakeFirstOrThrow()
  : undefined;
---

<div
  class="grid grid-cols-[repeat(auto-fill,minmax(8rem,1fr))] gap-5 max-w-full justify-stretch justify-items-center"
  id="avatars"
>
  {
    avatars.map((avatar) => (
      <div
        class={
          "w-[8rem] " +
          (avatar.id === userWithAvatar?.id
            ? "border-4 border-primary"
            : "cursor-pointer")
        }
        hx-post={`/api/avatars/${avatar.id}`}
        hx-swap="outerHTML"
        hx-target="#avatars"
      >
        {avatar.name}
        <img src={avatar.url} alt={avatar.name} />
      </div>
    ))
  }
</div>
