---
import Text from "@comp/Text.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Home">
  <div class="bg-primary-050 w-[50rem]">
    <Text variant="header">This is a left-aligned <span class="text-primary-default">header</span> by default</Text>
    <Text variant="paragraph">This is a left-aligned paragraph by default. This is going to be quite a bit longer just so that i can test paragraph settings in my application.</Text>
  </div>
</Layout>
