---
import Section from "@comp/Section.astro";
import Text from "@comp/Text.astro";
import Layout from "@layouts/Layout.astro";

const locals = Astro.locals;
---

<Layout title="Home">
{
  locals.loggedIn ?
    locals.server ? (
      <Section space="small" direction="row">
        <Text variant="header">Hello <span class="dark:text-primary-dark text-primary-light">Player</span></Text>
        <Text variant="paragraph">You are currently playing on <span class="dark:text-primary-dark text-primary-light">{locals.server.name}</span></Text>
      </Section>
    ) : (
      <Section space="small">
        <Text variant="header">Welcome <span class="dark:text-primary-dark text-primary-light">Player</span></Text>
        <Text variant="paragraph">You are currently not playing on any server. Go to profile to select server.</Text>
      </Section>
    )
  : (
    <Section space="small">
      <Text variant="header">Project <span class="dark:text-primary-dark text-primary-light">Auro</span></Text>
      <Text variant="paragraph">Free to play game made as hobby project. Login and give it a try.</Text>
    </Section>
  )
}
</Layout>