---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <button
      class="text-white bg-slate-500 p-5"
      hx-get="/button"
      hx-indicator="#indicator">Hello world</button
    >
    <img
      id="indicator"
      alt="yolo"
      class="htmx-indicator"
      src="/three-dots.svg"
    />
    <a
      href="https://dev-5g37fye485wl6b3n.eu.auth0.com/authorize?response_type=code&scope=openid%20email%20offline_access&client_id=co4niwbMW14RUu0WltdhW13TVpDUnzPY&redirect_uri=https://localhost:4321/callback"
      >Login</a
    >
  </main>
</Layout>
