---
import Text from "@comp/Text.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <div class="bg-primary-050 w-[50rem]">
    <Text variant="header">This is a left-aligned header by default</Text>
    <Text variant="subheader" alignment="center"
      >This is a centered subheader</Text
    >
    <Text variant="paragraph">This is a left-aligned paragraph by default</Text>
    <Text variant="small" alignment="center">This is a centered small text</Text
    >
  </div>
</Layout>
