---
import Card from "@comp/Card.astro";
import Grid from "@comp/Grid.astro";
import Image from "@comp/Image.astro";
import Section from "@comp/Section.astro";
import Text from "@comp/Text.astro";
import { getDB } from "@package/database";

const db = await getDB();
const avatars = await db
	.selectFrom("public.asset")
	.selectAll()
	.where("type", "=", "avatar")
	.execute();
const userWithAvatar = Astro.locals.account?.id
	? await db
			.selectFrom("public.account")
			.innerJoin(
				"public.asset",
				"public.account.avatarAssetId",
				"public.asset.id",
			)
			.where("public.account.id", "=", Astro.locals.account.id)
			.selectAll("public.asset")
			.executeTakeFirstOrThrow()
	: undefined;
---
<Section space="medium" id="avatars">
  <Text variant="header">Choose your <span class="dark:text-primary-dark text-primary-light">Avatar</span></Text>
  <Grid>
    {
      avatars.map((avatar) => (
        <Card
          variant={avatar.id === userWithAvatar?.id ? "normal" : "clickable"}
          title={avatar.name}
          class="w-[12rem]"
          state={avatar.id === userWithAvatar?.id ? "selected" : "normal"}
          hx-post={`/api/avatars/${avatar.id}`}
          hx-swap="outerHTML"
          hx-target="#avatars"
        >
          <Image src={avatar.url} alt={avatar.name} class="w-[9rem]" />
        </Card>
      ))
    }
  </Grid>
</Section>