---
import Card from "@comp/Card.astro";
import Grid from "@comp/Grid.astro";
import Section from "@comp/Section.astro";
import Text from "@comp/Text.astro";
import { getDB } from "@package/database";
const db = await getDB();
const avatars = await db
	.selectFrom("asset")
	.selectAll()
	.where("type", "=", "avatar")
	.execute();
const userWithAvatar = Astro.locals.account?.id
	? await db
			.selectFrom("account")
			.innerJoin("asset", "account.avatarAssetId", "asset.id")
			.where("account.id", "=", Astro.locals.account.id)
			.selectAll("asset")
			.executeTakeFirstOrThrow()
	: undefined;
---
<Section space="large" id="avatars">
  <Text variant="header">Choose your <span class="dark:text-primary-dark text-primary-light">Avatar</span></Text>
  <Grid>
    {
      avatars.map((avatar) => (
        <Card
          title={avatar.name}
          class={
            avatar.id === userWithAvatar?.id
              ? "border-4 dark:border-primary-dark border-primary-light"
              : "cursor-pointer border-4 dark:border-background-950 border-background-100"
          }
          hx-post={`/api/avatars/${avatar.id}`}
          hx-swap="outerHTML"
          hx-target="#avatars"
        >
          <img src={avatar.url} alt={avatar.name} class="w-[9rem]" />
        </Card>
      ))
    }
  </Grid>
</Section>