---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  name: string;
}

const { name, class: classList } = Astro.props;
---

<div class={`relative ${classList}`} {...Astro.props}>
  <button
    class="flex items-center justify-between gap-3 hover:bg-primary-200 cursor-pointer py-3 px-5"
    @click="open = !open"
    >{name}<svg
      class="w-2"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"></path>
    </svg>
  </button>
  <div
    class="absolute grid grid-cols-2 w-96 rounded-sm z-20 bg-primary-050"
    x-show="open"
    x-cloak
  >
    <slot />
  </div>
</div>
