---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Welcome to Astro.">
	<main>
		<button class="text-white bg-slate-500 p-5" hx-get="/button" hx-indicator="#indicator">Hello world</button>
		<img id="indicator" class="htmx-indicator" src="/three-dots.svg"/>
	</main>
</Layout>