<!--
// v0 by Vercel.
// https://v0.dev/t/lrxaaI12Q5z
-->
<header class="flex w-full items-center justify-between mb-5 bg-primary-050">
  <nav class="flex font-medium px-3" x-data="{ open:false }">
    <a class="hover:bg-primary-200 py-3 px-5" href="/">Home</a>
    <div class="relative">
      <button
        class="flex items-center justify-between gap-3 hover:bg-primary-200 cursor-pointer py-3 px-5"
        @click="open = !open"
        >Dropdown <svg
          class="w-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"></path>
        </svg>
      </button>
      <div
        class="absolute grid grid-cols-2 w-96 rounded-sm z-20 bg-primary-050"
        x-show="open"
        x-cloak
      >
        <a href="#" class="block py-3 hover:bg-primary-200 text-center"
          >Option 1</a
        >
        <a href="#" class="block py-3 hover:bg-primary-200 text-center"
          >Option 2</a
        >
        <a href="#" class="block py-3 hover:bg-primary-200 text-center"
          >Option 3</a
        >
      </div>
    </div>
  </nav>
  <nav class="flex font-medium px-3" x-data="{ open:false }">
    <div class="relative">
      <button
        class="flex items-center justify-between gap-3 hover:bg-primary-200 cursor-pointer py-3 px-5"
        @click="open = !open"
        >Profile<svg
          class="w-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"></path>
        </svg>
      </button>
      <div
        class="absolute right-0 grid grid-cols-2 w-96 rounded-sm z-20 bg-primary-050"
        x-show="open"
        x-cloak
      >
        <a href="#" class="block py-3 hover:bg-primary-200 text-center"
          >Option 1</a
        >
        <a href="#" class="block py-3 hover:bg-primary-200 text-center"
          >Option 2</a
        >
        <a href="#" class="block py-3 hover:bg-primary-200 text-center"
          >Option 3</a
        >
      </div>
    </div>
  </nav>
</header>
