@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

[x-cloak] {
  display: none !important;
}

@theme {
  --color-text: #f5f7ec;
  --color-background: #101408;
  --color-primary: #c2d294;
  --color-secondary: #3e7833;
  --color-accent: #62bc63;
}

@layer utilities {
  .container {
    max-width: 100%;
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
    margin-left: auto;
    margin-right: auto;
  }
}
