---
import { cn } from "@utils/tailwind";
import type { NonNullableProps } from "@utils/types";
import type { HTMLAttributes } from "astro/types";
import { cva } from "class-variance-authority";

const formVariants = cva(["flex", "max-w-md", "flex-col", "gap-5"], {
	variants: {
		alignment: {
			left: [],
			center: ["m-auto"],
		},
	},
	defaultVariants: {
		alignment: "left",
	},
});

type FormVariants = NonNullableProps<typeof formVariants, "alignment">;

interface Props extends HTMLAttributes<"form">, FormVariants {}

const { class: className, alignment, ...restProps } = Astro.props;
---

<form {...restProps} class={cn(formVariants({ alignment }), className)}>
  <slot />
</form>