---
import { cn } from "@utils/tailwind";
import type { NonNullableProps } from "@utils/types";
import type { HTMLAttributes } from "astro/types";
import { cva } from "class-variance-authority";
import Text from "./Text.astro";

const cardVariants = cva(
	"flex w-fit flex-col justify-start items-center relative p-4 rounded-lg dark:bg-background-950 bg-background-100",
	{
		variants: {
			variant: {
				clickable: [
					"cursor-pointer",
					"transform",
					"transition-transform",
					"duration-300",
					"m-1.5",
					"hover:scale-105",
					"dark:hover:shadow-accent-dark",
					"hover:shadow-accent-light",
					"transition-shadow",
					"disabled:cursor-not-allowed",
					"disabled:opacity-50",
					"disabled:hover:shadow-none",
					"disabled:bg-background-100",
					"disabled:dark:bg-background-950",
				],
				normal: [
					"cursor-default",
					"bg-background-100",
					"dark:bg-background-950",
					"disabled:cursor-not-allowed",
					"disabled:opacity-50",
					"disabled:hover:shadow-none",
				],
			},
			state: {
				selected: [
					"border-4",
					"dark:border-primary-dark",
					"border-primary-light",
				],
				normal: [
					"border-4",
					"dark:border-background-950",
					"border-background-100",
				],
			},
		},
		defaultVariants: {
			state: "normal",
		},
	},
);

type CardVariants = NonNullableProps<typeof cardVariants, "variant">;
interface Props extends HTMLAttributes<"button">, CardVariants {
	title: string;
}

const { title, class: className, variant, state, ...restProps } = Astro.props;
---

<button
  {...restProps}
  class={cn(cardVariants({ variant, state}), className)}
  type="button"
>
  <Text variant="paragraph" alignment="center">
    {title}
  </Text>
  <div class="flex justify-center">
    <slot />
  </div>
</button>
