---
import { cn } from "@utils/tailwind";
import type { HTMLAttributes } from "astro/types";
import Text from "./Text.astro";

interface Props extends HTMLAttributes<"div"> {
	title: string;
}

const { title, class: className, ...restProps } = Astro.props;
---

<div
  {...restProps}
  class={cn('flex w-full flex-col justify-start items-center relative p-5 bg-background-950 rounded-lg', className)}
>
  <Text variant="paragraph" alignment="center">
    {title}
  </Text>
  <div class="flex justify-center">
    <slot />
  </div>
</div>
