---
import { cn } from "@utils/tailwind";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"dialog"> {}

const { class: className, ...restProps } = Astro.props;
---
<dialog {...restProps} class={cn("relative bg-background-light dark:bg-background-dark p-4 backdrop:bg-accent-950/95", className)}>
    <button type="button" aria-label="Close" class="absolute top-2 right-2 text-text-light dark:text-text-dark text-3xl p-2" x-on:click="$dispatch('close-dialog')">
        &times;
    </button>
    <slot />
</dialog>